* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background-blur {
    background-image: url(./IMG/casal\ sexy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 100px;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: white;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video {
    max-width: 100%;
    height: auto;
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "roboto", sans-serif;
}

button {
    background-color: deeppink;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 19px;
    border: 2px solid #7b27c9;
    transition: transform 0.1s ease, box-shadow 0,1s ease;

}

button:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgb((0, 0, 0, 0.2), green, blue);
}